.inputBar {
  border-radius: 20px;
  border: 2px solid lightgrey;
  outline: none;
  color: #1d2129;
  margin: 5% 0;
  width: 20vw;
  padding: 10px;
  font-size: clamp(14px, 1.3vw, 20px);
}

::placeholder {
  text-align: center;
}
