.inputBar {
  border-radius: 10px;
  border: 2px solid lightgrey;
  outline: none;
  color: #1d2129;

  /* width: 20vw; */
  padding: 10px;
  font-size: 20px;
  width: 90%;
}

::placeholder {
  text-align: left;
}
